.menu-bar{
    width: 15%;
    background-color: azure;
    height: 86vh;
}
.hr-color{
    height: 2px;
    background-color: #0bd;
    border: 0; 
}

.sub-title{
    font-size: 1.375rem;
    padding: 0 0 0 0;
    font-weight: normal;
    text-align: center;
}
.sub-menu{
    list-style: none;
    padding: 0 0 0 0;
}
.sub-menu li{
    border-bottom: 1px #ddd solid;
}
.sub-menu a{
    color: #432;
    padding: 10px;
    display: block;
}
.sub-menu a:hover{
    color: #0bd;
}